# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the multicast-notification-service owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'Multicast Notification Service - REST API'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    Use this API to publish, subscribe to and receive patient-related events. The events do not contain clinical information; they simply describe what 
    type of event occured to whom and where. Where possible, a pointer will be provided to enable retrieval the associated payload.

    You can:
      - publish events. The first planned use case is GP Registration Change events. The team is actively building a backlog of future event candidates e.g.
        PDS record changes, vaccinations.

    In future, you will be able to:
      - subscribe to events based on certain criteria such as NHS Number
      - receive event notifications

    ![MNS High-level Diagram](https://raw.githubusercontent.com/NHSDigital/multicast-notification-service/master/assets/images/mns-high-level-diagram.png )
    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You 
    must do this before you can go live (see ‘Onboarding’ below)

    Note: during Beta, this API will only be used by NHS England product teams with a valid use case.
    ## Related APIs
    The following API also provides access to patient-related events:
      - [National Events Management Service - FHIR API](https://digital.nhs.uk/developer/api-catalogue/national-events-management-service-fhir "National 
      Events Management Service - FHIR API")
    ## API status and roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    You can comment, upvote and view progress on our [roadmap](https://nhs-digital-api-management.featureupvote.com/suggestions/440034/multicast-notification-service-event-management-api).
    ## Service level
    N.A - not yet in an integration or production environment.
    ## Technology
    This API is a [REST-based](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) [publish-subscribe](https://digital.nhs.uk/developer/guides-and-documentation/introduction-to-healthcare-technology/integration-and-apis#publish-subscribe-events) API.

    The event structure is based on the recommendations of the [Cloud Events specification.](https://cloudevents.io/) [FHIR STU3](https://hl7.org/fhir/stu3/) events can also be published.
    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    ## Security and authorisation
    To be completed. (Will be application-based access.)
    ## Environments and testing

    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/multicast-notification-service`    |
    | Integration test  | Not yet available                                                      |
    | Production        | Not yet available                                                      |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so does not actually persist any updates
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection (simply download the file from the link and import it into Postman):

        
    [![Run in Postman](https://run.pstmn.io/button.svg)](https://github.com/NHSDigital/multicast-notification-service/blob/master/postman/sandbox/Multicast_Notification_Sandbox.postman_collection.json)
    ## Onboarding
    During the planned private beta this service will only be available to NHS England product teams. The onboarding process is in development and we will be 
    improving it iteratively as we gather feedback from the first set of users.
  contact:
    name: 'multicast-notification-service API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/multicast-notification-service'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/multicast-notification-service'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/multicast-notification-service'
    description: Production environment.
paths:
  /events:
    post:
      summary: "Publish an event"
      description: |
        ### Overview
        Use this endpoint to publish a patient-related event.

        You have the option to provide your payload in two different formats: FHIR STU3 JSON or a simple non-FHIR JSON event.

        ### FHIR payload
        The FHIR payload follows the structure of the events that [NEMS currently receives](https://developer.nhs.uk/apis/ems-beta/explore_generic_event_requirements.html) from PDS, in JSON. The __only__ sender of these events is PDS. The Private Beta will focus on Change of GP Registration events.

        ### Non-FHIR payload (CloudEvent)
        The non-FHIR event contains only a minimum dataset based on the recommendations of the CloudEvents specification. See [https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Structure](https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Structure) for more info.

        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:

        | Scenario                                  | Request                                                                 | Response                                                       |
        | ----------------------------------------- | ----------------------------------------------------------------------- | -------------------------------------------------------------- |
        | Publish a JSON FHIR Event (GP Reg Change) | Content-Type: `application/fhir+json` Event Type: `pds-change-of-gp-1`  | HTTP Status 200 and response containing id and success status. |
        | Publish an MDS Event (GP Reg Change)      | Content-Type: `application/json` Event Type: `pds-change-of-gp-1`       | HTTP Status 200 and response containing id and success status. |
        | Publish an event with an invalid type     | Any event type other than `pds-change-of-gp-1`                          | HTTP Status 400 and response containing a validation error.    |

        You can try out the sandbox using the 'Try this API' feature on this page.

        ### Errors
        We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

        * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
        * 400 to 499 if it failed because of a client error by your application
        * 500 to 599 if it failed because of an error on our server
        
        Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.
      parameters:
        - in: header
          name: somethingForAuth
          schema:
            type: string
          required: true
          description: TODO - EM-278 - add auth
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: "object"
              example:
                id: 236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b
                meta:
                  profile:
                  - http://hl7.org/fhir/STU3/StructureDefinition/Bundle
                entry:
                - fullUrl: 3cfdf880-13e9-4f6b-8299-53e96ef5ec02
                  resource:
                    responsible:
                      reference: https://directory.spineservices.nhs.uk/STU3/Organization/X26
                      display: NHS DIGITAL
                    timestamp: '2019-11-01T15:00:00+00:00'
                    event:
                      display: PDS Change of GP
                      system: https://fhir.nhs.uk/STU3/CodeSystem/EventType-1
                      code: pds-change-of-gp-1
                    source:
                      endpoint: urn:nhs:addressing:asid:477121000323
                      contact:
                        system: email
                        value: ssd.nationalservicedesk@nhs.net
                    meta:
                      profile:
                      - https://fhir.nhs.uk/STU3/StructureDefinition/Event-MessageHeader-1
                      versionId: '1'
                      lastUpdated: '2017-11-01T15:00:33+00:00'
                    focus:
                    - reference: urn:uuid:3f98da8c-3fe9-430e-8e7c-6edd078622f0
                    extension:
                    - extension:
                      - valueIdentifier:
                          system: https://fhir.nhs.uk/Id/nhs-number
                          value: '9912003888'
                        url: nhsNumber
                      - valueHumanName:
                          use: official
                          given:
                          - Jack
                          family: DAWKINS
                        url: name
                      - valueDateTime: '2017-10-02T12:00:00+00:00'
                        url: birthDateTime
                      url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-RoutingDemographics-1
                    - valueCodeableConcept:
                        coding:
                        - display: New event message
                          system: https://fhir.nhs.uk/STU3/CodeSystem/MessageEventType-1
                          code: new
                      url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-MessageEventType-1
                    id: 3cfdf880-13e9-4f6b-8299-53e96ef5ec02
                    resourceType: MessageHeader
                - fullUrl: urn:uuid:4c687299-3693-47f0-b477-562b0784d225
                  resource:
                    id: 4c687299-3693-47f0-b477-562b0784d225
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-HealthcareService-1
                    identifier:
                    - system: https://fhir.nhs.uk/STU3/CodeSystem/EMS-HealthcareServiceType-1
                      value: PDS
                    type:
                    - coding:
                      - display: Personal Demographics Service
                        system: https://fhir.nhs.uk/STU3/CodeSystem/EMS-HealthcareServiceType-1
                        code: PDS
                    providedBy:
                      reference: https://directory.spineservices.nhs.uk/STU3/Organization/X26
                      display: NHS DIGITAL
                    resourceType: HealthcareService
                - fullUrl: urn:uuid:3f98da8c-3fe9-430e-8e7c-6edd078622f0
                  resource:
                    id: 3f98da8c-3fe9-430e-8e7c-6edd078622f0
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Communication-1
                    subject:
                      reference: urn:uuid:dffd2ca0-dc21-11e7-9296-cec278b6b50a
                      display: DAWKINS, Jack
                    payload:
                    - contentReference:
                        reference: urn:uuid:dffd2ca0-dc21-11e7-9296-cec278b6b50a
                        display: DAWKINS, Jack
                    status: completed
                    sent: '2019-12-01'
                    resourceType: Communication
                - fullUrl: urn:uuid:dffd2ca0-dc21-11e7-9296-cec278b6b50a
                  resource:
                    generalPractitioner:
                    - reference: urn:uuid:59a63170-b769-44f7-acb1-95cc3a0cb067
                      display: SHADWELL MEDICAL CENTRE
                    name:
                    - use: official
                      given:
                      - Jack
                      family: DAWKINS
                    identifier:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - display: Number present and verified
                            system: https://fhir.hl7.org.uk/STU3/CareConnect-NHSNumberVerificationStatus-1
                            code: '01'
                        url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-CareConnect-NHSNumberVerificationStatus-1
                      system: https://fhir.nhs.uk/Id/nhs-number
                      value: '9912003888'
                    address:
                    - use: home
                      postalCode: LS17 7DF
                      line:
                      - 4 Sandmoor Drive
                      - LEEDS
                    _birthDate:
                      extension:
                      - valueDateTime: '2017-10-02T20:12:00+00:00'
                        url: http://hl7.org/fhir/StructureDefinition/patient-birthTime
                    id: dffd2ca0-dc21-11e7-9296-cec278b6b50a
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Patient-1
                    birthDate: '2017-10-02'
                    gender: male
                    resourceType: Patient
                - fullUrl: urn:uuid:59a63170-b769-44f7-acb1-95cc3a0cb067
                  resource:
                    id: 59a63170-b769-44f7-acb1-95cc3a0cb067
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Organization-1
                    name: SHADWELL MEDICAL CENTRE
                    identifier:
                    - system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: B86056
                    partOf:
                      reference: https://directory.spineservices.nhs.uk/STU3/Organization/02V
                      display: NHS LEEDS NORTH ICB
                    resourceType: Organization
                - fullUrl: urn:uuid:b13f45db-bd6d-48ef-bf30-3a4c0904a777
                  resource:
                    id: b13f45db-bd6d-48ef-bf30-3a4c0904a777
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-EpisodeOfCare-1
                    managingOrganization:
                      reference: urn:uuid:e84bfc04-2d79-451e-84ef-a50116506088
                      display: LIVERSEDGE MEDICAL CENTRE
                    patient:
                      reference: urn:uuid:dffd2ca0-dc21-11e7-9296-cec278b6b50a
                      display: DAWKINS, Jack
                    period:
                      end: '2017-10-29T15:00:00+00:00'
                      start: '2017-10-09T15:00:00+00:00'
                    status: finished
                    type:
                    - coding:
                      - display: Primary care
                        system: https://fhir.nhs.uk/STU3/CodeSystem/EMS-PDS-PatientCareProvisionType-1
                        code: '1'
                    resourceType: EpisodeOfCare
                - fullUrl: urn:uuid:e84bfc04-2d79-451e-84ef-a50116506088
                  resource:
                    id: e84bfc04-2d79-451e-84ef-a50116506088
                    meta:
                      profile:
                      - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Organization-1
                    name: LIVERSEDGE MEDICAL CENTRE
                    identifier:
                    - system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: B85612
                    partOf:
                      reference: https://directory.spineservices.nhs.uk/STU3/Organization/03J
                      display: NHS NORTH KIRKLEES ICB
                    resourceType: Organization
                type: message
                resourceType: Bundle
          application/json:
            schema:
              type: "object"
              required:
                - "id"
                - "type"
                - "subject"
                - "source"
                - "time"
              properties:
                id:
                  type: "string"
                  example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
                  description: "Producers must ensure that the id is unique within their system to ensure that when the MNS team trace messages, they can be certain that source + id will be unique."
                type:
                  type: "string"
                  example: "pds-change-of-gp-1"
                  description: "A unique string representing the event type. For the initial private beta, the API will only accept `pds-change-of-gp-1`."
                subject:
                  type: "object"
                  required:
                    - "nhsNumber"
                    - "givenName"
                    - "familyName"
                    - "dob"
                  description: "The NHS patient to whom the event occurred."
                  properties:
                    nhsNumber:
                      type: "string"
                      example: "9912003888"
                      description: "NHS Number validated in line with https://www.datadictionary.nhs.uk/attributes/nhs_number.html."
                    givenName:
                      type: "string"
                      example: "Jack"
                      description: "First name"
                    familyName:
                      type: "string"
                      example: "DAWKINS"
                      description: "Last name, capitalised"
                    dob:
                      type: "string"
                      format: "date"
                      example: "2017-10-02"
                      description: "ISO-8601 date."
                source:
                  type: "object"
                  required:
                    - "name"
                    - "identifier"
                  description: "Organisation responsible for generating the patient-related event."
                  properties:
                    name:
                      type: "string"
                      example: "The Organisation"
                      description: "Organisation name"
                    identifier:
                      type: "object"
                      required:
                        - "system"
                        - "value"
                      description: "Must follow this identifier system: https://fhir.nhs.uk/Id/ods-organization-code and provide the ODS Code as the value."
                      properties:
                        system:
                          type: "string"
                          example: "https://fhir.nhs.uk/{Id}/ods-organization-code"
                        value:
                          type: "string"
                          example: "ABC123"
                time:
                  type: "string"
                  format: "date-time"
                  example: "2022-04-05T17:31:00Z"
                  description: "ISO-8601 datetime."
                dataContentType:
                  type: "string"
                  example: "application/fhir+json"
                  description: "This field describes the content type of the original event payload, if it's available e.g. text/xml, application/json, application/xml+FHIR."
                data:
                  type: "string"
                  example: "https://test-api.nhs.uk/personal-demographics/FHIR/R4/Patient/9912003888"
                  description: "String containing a pointer to the location of the information, where there exists a retrieval mechanism. E.g. an event generated from PDS would result in a pointer to the patient's PDS Record. The decision is for the events to be purely a notification and not contain any payload. A subscribing system would have to query the source of truth (in our example, PDS) to find what has changed."
              
      responses:
        200:
          description: Success - the event is accepted and will be multicast to subscribers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether or not the action was successful
                    example: true
                  id:
                    type: string
                    description: The id provided in the user's payload
                    example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  validationErrors:
                    type: object
                    description: Object containing the different errors on a per key basis
                    properties:
                      type:
                        type: string
                        example: Please provide a valid event type
        401:
          description: "TODO - EM-278 - add auth"
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: Internal server error
