# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the multicast-notification-service owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'Multicast Notification Service (MNS) - REST API'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    ![MNS High-level Diagram](https://raw.githubusercontent.com/NHSDigital/multicast-notification-service/master/assets/images/mns-high-level-diagram.svg )

    Use this API to publish and subscribe to patient-related events. The events do not contain clinical information; they simply describe what 
    type of event occured to whom and where. Where possible, a pointer is provided to enable retrieval of the associated payload.
 
    This API is intended for NHS England internal product teams as a means of decoupling systems by providing access to streams of lightweight data from various sources without the need for direct integration.

    You can:
      - Publish events. The first planned use case is GP Registration Change events. The team is actively building a backlog of future event candidates, for example:
        PDS record changes, vaccinations.

    In future, you will be able to:
      - subscribe to events based on certain criteria such as the event type

    Data flow:
      1. An event occurs on a provider system. The provider system sends MNS the event.
      2. MNS extracts key identifying information from the message, enriches it making up the MDS for this signal. Enrichment involves taking the patient identifier, usually the NHS Number, and retrieving related patient records from external services. This allows MNS to add additional information not in the initial event, such as post code of the patient's GP, allowing for more fine grained subscription criteria.
      3. MNS matches the signal against subscribing organisations and delivers it to their specified destinations, for example an AWS Kinesis Firehose.
      4. Consumers can optionally synchronise with event producers to obtain further information.

    ## Who can use this API
    This API can only currently be used by internal NHS England services. Make sure you have a valid use case before you go too far with your development. You 
    must do this before you can go live (see ‘Onboarding’ below).

    Note: during beta, this API will only be used by NHS England product teams with a valid use case.
    ## Related APIs
    The following API also provides access to patient-related events:
      - [National Events Management Service - FHIR API](https://digital.nhs.uk/developer/api-catalogue/national-events-management-service-fhir "National 
      Events Management Service - FHIR API") - the difference is that the payloads MNS delivers will be event signals: lightweight events that do not contain any clinical information, they 'signal' a state has changed. NEMS delivers events to external consumer systems whereas MNS is intended only for use by internal NHS England product teams. The two systems will be complementary.
    ## API status and roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    You can comment, upvote and view progress on our [roadmap](https://nhs-digital-api-management.featureupvote.com/suggestions/440034/multicast-notification-service-event-management-api).
    ## Service level
    The Multicast Service API is currently not in a production environment.
    ## Technology
    This API is a [REST-based](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) [publish-subscribe](https://digital.nhs.uk/developer/guides-and-documentation/introduction-to-healthcare-technology/integration-and-apis#publish-subscribe-events) API.

    The event structure is based on the recommendations of the [Cloud Events specification.](https://cloudevents.io/) [FHIR STU3](https://hl7.org/fhir/stu3/) events can also be published.
    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    ## Security and authorisation
    To be completed. (Will be application-based access.)
    ## Environments and testing

    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/multicast-notification-service`    |
    | Integration test  | `https://int.api.service.nhs.uk/multicast-notification-service`                                                     |
    | Production        | Not yet available                                                      |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so does not actually persist any updates
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection (simply download the file from the link and import it into Postman):

        
    [![Run in Postman](https://run.pstmn.io/button.svg)](https://github.com/NHSDigital/multicast-notification-service/blob/master/postman/sandbox/Multicast_Notification_Sandbox.postman_collection.json)
    ## Onboarding
    During the planned private beta this service will only be available to NHS England product teams. The onboarding process is in development and we will be 
    improving it iteratively as we gather feedback from the first set of users.

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server
    
    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.
  contact:
    name: 'multicast-notification-service API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/multicast-notification-service'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/multicast-notification-service'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/multicast-notification-service'
    description: Production environment.
paths:
  /events:
    post:
      summary: "Publish an event"
      description: |
        ### Overview
        Use this endpoint to publish a patient-related event.

        You have the option to provide your payload in two different formats: FHIR STU3 JSON or a simple non-FHIR JSON event.

        ### FHIR payload
        The FHIR payload follows the structure of the events that [NEMS currently receives](https://developer.nhs.uk/apis/ems-beta/explore_generic_event_requirements.html) from PDS, in JSON. The __only__ sender of these events is PDS. The Private Beta will focus on Change of GP Registration events.

        ### Non-FHIR payload (CloudEvent)
        The non-FHIR event contains only a minimum dataset based on the recommendations of the CloudEvents specification. See [https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Structure](https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Structure) for more info.

        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:

        | Scenario                                  | Request                                                                 | Response                                                       |
        | ----------------------------------------- | ----------------------------------------------------------------------- | -------------------------------------------------------------- |
        | Publish a JSON FHIR Event (GP Reg Change) | Content-Type: `application/fhir+json` Event Type: `pds-change-of-gp-1`  | HTTP Status 200 and response containing id and success status. |
        | Publish an MDS Event (GP Reg Change)      | Content-Type: `application/json` Event Type: `pds-change-of-gp-1`       | HTTP Status 200 and response containing id and success status. |
        | Publish an event with an invalid type     | Any event type other than `pds-change-of-gp-1`                          | HTTP Status 400 and response containing a validation error.    |

        You can try out the sandbox using the 'Try this API' feature on this page.
      parameters:
        - in: header
          name: somethingForAuth
          schema:
            type: string
          required: true
          description: TODO - EM-278 - add auth
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: "object"
              required:
                - id
                - meta
                - type
                - entry
                - resourceType
              properties:
                resourceType:
                  type: string
                  example: "Bundle"
                  description: FHIR Resource Type
                type:
                  type: string
                  example: "message"
                  description: "FHIR Bundle Type"
                id:
                  type: string
                  example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
                  description: "UUID unique identifier for the message."
                meta:
                  type: object
                  description: Metadata about the resource.
                  properties:
                    profile:
                      type: array
                      items:
                        type: string
                        example: "http://hl7.org/fhir/STU3/StructureDefinition/Bundle"
                        description: "Existing NEMS events will be published to this service, hence we are using FHIR STU3."
                entry:
                  type: array
                  description: "The entry array must contain each of the resources detailed in the example schema."
                  items:
                    type: object
                    anyOf:
                      - $ref: "components/schemas/MessageHeader.yaml"
                      - $ref: "components/schemas/HealthService.yaml"
                      - $ref: "components/schemas/Communication.yaml"
                      - $ref: "components/schemas/Patient.yaml"
                      - $ref: "components/schemas/OrganisationExampleOne.yaml"
                      - $ref: "components/schemas/EpisodeOfCare.yaml"
                      - $ref: "components/schemas/OrganisationExampleTwo.yaml"
          application/json:
            schema:
              type: "object"
              required:
                - "id"
                - "type"
                - "subject"
                - "source"
                - "time"
              properties:
                id:
                  type: "string"
                  example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
                  description: "Producers must ensure that the id is unique within their system to ensure that when the MNS team trace messages, they can be certain that source + id will be unique."
                type:
                  type: "string"
                  example: "pds-change-of-gp-1"
                  description: "A unique string representing the event type. For the initial private beta, the API will only accept `pds-change-of-gp-1`."
                subject:
                  type: "object"
                  required:
                    - "nhsNumber"
                    - "givenName"
                    - "familyName"
                    - "dob"
                  description: "The NHS patient to whom the event occurred."
                  properties:
                    nhsNumber:
                      type: "string"
                      example: "9912003888"
                      description: "NHS Number validated in line with https://www.datadictionary.nhs.uk/attributes/nhs_number.html."
                    givenName:
                      type: "string"
                      example: "Jack"
                      description: "First name"
                    familyName:
                      type: "string"
                      example: "DAWKINS"
                      description: "Last name, capitalised"
                    dob:
                      type: "string"
                      format: "date"
                      example: "2017-10-02"
                      description: "ISO-8601 date."
                source:
                  type: "object"
                  required:
                    - "name"
                    - "identifier"
                  description: "Organisation responsible for generating the patient-related event."
                  properties:
                    name:
                      type: "string"
                      example: "The Organisation"
                      description: "Organisation name"
                    identifier:
                      type: "object"
                      required:
                        - "system"
                        - "value"
                      description: "Must follow this identifier system: https://fhir.nhs.uk/Id/ods-organization-code and provide the ODS Code as the value."
                      properties:
                        system:
                          type: "string"
                          example: "https://fhir.nhs.uk/{Id}/ods-organization-code"
                        value:
                          type: "string"
                          example: "ABC123"
                time:
                  type: "string"
                  format: "date-time"
                  example: "2022-04-05T17:31:00Z"
                  description: "ISO-8601 datetime."
                dataContentType:
                  type: "string"
                  example: "application/fhir+json"
                  description: "This field describes the content type of the original event payload, if it's available e.g. text/xml, application/json, application/xml+FHIR."
                data:
                  type: "string"
                  example: "https://test-api.nhs.uk/personal-demographics/FHIR/R4/Patient/9912003888"
                  description: "String containing a pointer to the location of the information, where there exists a retrieval mechanism. E.g. an event generated from PDS would result in a pointer to the patient's PDS Record. The decision is for the events to be purely a notification and not contain any payload. A subscribing system would have to query the source of truth (in our example, PDS) to find what has changed."
              
      responses:
        200:
          description: Success - the event is accepted and will be multicast to subscribers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether or not the action was successful
                    example: true
                  id:
                    type: string
                    description: The id provided in the user's payload
                    example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  validationErrors:
                    type: object
                    description: Object containing the different errors on a per key basis
                    properties:
                      type:
                        type: string
                        example: Please provide a valid event type
        401:
          description: "TODO - EM-278 - add auth"
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: Internal server error
