# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the multicast-notification-service owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'Multicast Notification Service (MNS) - REST API'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    ![MNS High-level Diagram](https://raw.githubusercontent.com/NHSDigital/multicast-notification-service/master/assets/images/mns-high-level-diagram.svg )

    Use this API to publish events and subscribe to patient-related signals. The signals do not contain clinical information; they simply describe what
    type of event occured to whom and where. Where possible, a pointer is provided to enable retrieval of the associated payload.

    This API is intended for NHS England internal product teams as a means of decoupling systems by providing access to streams of lightweight data from various sources without the need for direct integration.

    You can:
      - Publish events. The first planned use case is GP Registration Change events. The team is actively building a backlog of future event candidates, for example:
        PDS record changes, vaccinations.

    In future, you will be able to:
      - subscribe to signals based on certain criteria such as the event type

    Data flow:
      1. An event occurs on a provider system. The provider system sends MNS the event.
      2. MNS validates that the event conforms to the accepted schema and sends it another component to handle subscription matching and onward delivery.
      3. MNS matches the signal against subscribing organisations and delivers it to their specified destinations, for example an AWS Kinesis Firehose.
      4. Subscribers can optionally synchronise with event publishers to obtain further information.

    ## Who can use this API
    This API can only currently be used by internal NHS England services. Make sure you have a valid use case before you go too far with your development. You
    must do this before you can go live (see ‘Onboarding’ below).

    Note: during beta, this API will only be used by NHS England product teams with a valid use case.
    ## Related APIs
    The following API also provides access to patient-related events:
      - [National Events Management Service - FHIR API](https://digital.nhs.uk/developer/api-catalogue/national-events-management-service-fhir "National
      Events Management Service - FHIR API") - the difference is that the payloads MNS delivers will be event signals: lightweight events that do not contain any clinical information, they 'signal' a state has changed. NEMS delivers events to external subscriber systems whereas MNS is intended only for use by internal NHS England product teams. The two systems will be complementary.
    ## API status and roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    You can comment, upvote and view progress on our [roadmap](https://nhs-digital-api-management.featureupvote.com/suggestions/440034/multicast-notification-service-event-management-api).
    ## Service level
    The Multicast Service API is currently not in a production environment.
    ## Technology
    This API is a [REST-based](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) [publish-subscribe](https://digital.nhs.uk/developer/guides-and-documentation/introduction-to-healthcare-technology/integration-and-apis#publish-subscribe-events) API.

    The signal structure is based on the recommendations of the [Cloud Events specification.](https://cloudevents.io/)
    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    ## Security and authorisation

    This API has one access mode:
    - application-restricted access

    ### Application-restricted access
    Use this access mode if you need to publish an event from your system.

    This access mode is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis), meaning we authenticate the calling application but not the end user.

    The end user could be:
    * a healthcare worker - for example they record an event in an application and that application then publishes to MNS
    * a patient - for example they make a change to their record in a patient-facing application and that application then publishes to MNS
    * not present at all - for example as part of a back end process where events from an NHS England product or system are generated

    In the above cases you must ensure the users are authenticated and suitably authorised locally

    To use this access mode, use the following security pattern:
    * [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication) 

    ## Environments and testing

    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/multicast-notification-service`    |
    | Integration test  | `https://int.api.service.nhs.uk/multicast-notification-service`                                                     |
    | Production        | Not yet available                                                      |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so does not actually persist any updates
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection (simply download the file from the link and import it into Postman):


    [![Run in Postman](https://run.pstmn.io/button.svg)](https://github.com/NHSDigital/multicast-notification-service/blob/master/postman/sandbox/Multicast_Notification_Sandbox.postman_collection.json)
    ## Onboarding
    During the planned private beta this service will only be available to NHS England product teams. The onboarding process is in development and we will be
    improving it iteratively as we gather feedback from the first set of users.

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server

    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.
  contact:
    name: 'multicast-notification-service API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
security: []
servers:
  - url: 'https://sandbox.api.service.nhs.uk/multicast-notification-service'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/multicast-notification-service'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/multicast-notification-service'
    description: Production environment.
paths:
  /events:
    post:
      summary: "Publish an event"
      description: |
        ### Overview
        Use this endpoint to publish a patient-related event.

        The signal contains only a minimum dataset based on the recommendations of the CloudEvents specification. See [https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Messages](https://nhsd-confluence.digital.nhs.uk/display/SPINE/Event+Pattern+-+Event+Messages) for more info.

        ### Data and Metadata:
          - Metadata: In the context of an event, metadata refers to the additional information that describes the event and provides context about it. It includes elements such as the family name and date of birth which are primarily for verification. Users must be cautious not to use such metadata to modify a patient's demographic details. Instead, if updates are necessary, users should conduct a full PDS retrieval to ensure accuracy and completeness in their workflows.
          - Data: The inclusion of the data field might vary. Its presence is subject to agreements between the MNS team and the originating system. While the structure of the data might differ across various systems and scenarios, it's a general preference to have a pointer included. This pointer aids subscribers in accessing the entire record when necessary for their workflow.   

        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:

        | Scenario                                  | Request                                                                 | Response                                                       |
        | ----------------------------------------- | ----------------------------------------------------------------------- | -------------------------------------------------------------- |
        | Publish an MDS Event (GP Reg Change)      | Content-Type: `application/json` Event Type: `pds-change-of-gp-1`       | HTTP Status 200 and response containing id and success status. |
        | Publish an event with invalid data        | E.g. an event with an invalid value for `time`                          | HTTP Status 400 and response containing a validation error.    |

        You can try out the sandbox using the 'Try this API' feature on this page.
      operationId: publish-event
      parameters:
        - name: Authorization
          in: header
          required: true
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
            Required in all environments except sandbox.
          schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - name: X-Correlation-ID
          in: header
          required: true
          description: |-
            An ID which is used to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "id"
                - "type"
                - "subject"
                - "source"
                - "time"
              properties:
                id:
                  type: "string"
                  description: "Publishers must ensure that the id is unique within their system to ensure that when the MNS team trace messages, they can be certain that source + id will be unique. UUIDv4 format is expected."
                type:
                  type: "string"
                  description: "A unique string representing the event type. For the initial private beta, the API will only accept `pds-change-of-gp-1`."
                subject:
                  type: "object"
                  required:
                    - "nhsNumber"
                    - "familyName"
                    - "dob"
                  description: "The NHS patient to whom the event occurred."
                  properties:
                    nhsNumber:
                      type: "string"
                      description: "NHS Number validated in line with https://www.datadictionary.nhs.uk/attributes/nhs_number.html."
                    familyName:
                      type: "string"
                      description: "Last name, capitalised"
                    dob:
                      type: "string"
                      format: "date"
                      description: "ISO-8601 is the required format. However, due to data quality inconsistencies in demographic records, both 'YYYY' and 'YYYY-MM' formats are also acceptable. Refer to the [PDS FHIR API documentation](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir#get-/Patient) for further clarification on the accepted formats."
                source:
                  type: "object"
                  required:
                    - "name"
                    - "identifier"
                  description: "Organisation responsible for publishing the patient-related event."
                  properties:
                    name:
                      type: "string"
                      description: "Organisation name"
                    identifier:
                      type: "object"
                      required:
                        - "system"
                        - "value"
                      description: "Must follow this identifier system: https://fhir.nhs.uk/Id/nhsSpineASID and provide the ASID Code as the value."
                      properties:
                        system:
                          type: "string"
                        value:
                          type: "string"
                time:
                  type: "string"
                  format: "date-time"
                  description: "The time at which the signal is published. This must be a compliant RFC3339 datetime in line with the FHIR standard for [system instants](https://hl7.org/fhir/R4/datatypes.html#instant). This means it can have seconds or milliseconds precision."
                data:
                  type: object
                  description: "This field is optional, dependent on the agreements between the publishing system and the MNS team. While the data schema might vary based on the system and use-case, it is preferred to include a pointer for subscribers to access the full record when necessary for their workflow."
                  anyOf:
                    - $ref: "components/schemas/cloudevents/pdsEventData.yaml"
            examples:
              pdsChangeOfGpEvent:
                value:
                  id: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
                  type: "pds-change-of-gp-1"
                  subject:
                    nhsNumber: "9912003888"
                    familyName: "DAWKINS"
                    dob: "2017-10-02"
                  source:
                    name: "NHS Digital"
                    identifier:
                      system: "https://fhir.nhs.uk/Id/nhsSpineASID"
                      value: "477121000324"
                  time: "2022-04-05T17:31:00.000Z"
                  data:
                    versionId: 'W/"2"'
                    fullUrl: "https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9912003888"
                    registrationEncounterCode: "3"
                    provenance:
                      name: "The GP Practice"
                      identifier:
                        system: "https://fhir.nhs.uk/Id/nhsSpineASID"
                        value: "477121000323"
              mnsEventMetaDataOnly:
                value:
                  id: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
                  type: "possible-future-event-type-no-data-field"
                  subject:
                    nhsNumber: "9912003888"
                    familyName: "DAWKINS"
                    dob: "2017-10-02"
                  source:
                    name: "NHS Digital"
                    identifier:
                      system: "https://fhir.nhs.uk/Id/nhsSpineASID"
                      value: "477121000324"
                  time: "2022-04-05T17:31:00.000Z"

      responses:
        200:
          description: Success - the event is accepted and will be multicast to subscribers
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The id provided in the user's payload
                    example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  validationErrors:
                    type: object
                    description: Object containing the different errors on a per key basis
                    properties:
                      type:
                        type: string
                        example: Please provide a valid event type
        401:
          description: "Unauthenticated error"
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    fault:
                      type: object
                      properties:
                        faultstring:
                          type: string
                        detail:
                          type: object
                          properties:
                            errorcode:
                              type: string
                examples:
                  invalidToken:
                    value:
                      fault:
                        faultstring: "Invalid access token"
                        detail:
                          errorcode: "oauth.v2.InvalidAccessToken"
                  tokenMissing:
                    value:
                      fault:
                        faultstring: "Missing access token"
                        detail:
                          errorcode: "oauth.v2.MissingAccessToken"
                  tokenExpired:
                    value:
                      fault:
                        faultstring: "Access Token expired"
                        detail:
                          errorcode: "keymanagement.service.access_token_expired"
        403:
          description: "Unauthorized error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: User is not authorized to handle the requested event type
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: Internal server error
  /subscriptions:
    post:
      summary: "Subscribe to events"
      description: |
        ### Overview
        Use this endpoint to subscribe to patient-related signals.

        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:

        | Scenario                                  | Request                                                                  | Response                                                                    |
        | ----------------------------------------- | ------------------------------------------------------------------------ | --------------------------------------------------------------------------- |
        | Subscribe to Events (GP Reg Change)       | Content-Type: `application/fhir+json`                                    | HTTP Status 201 and response containing the id of the subscription created. |
        | Publish an subscription with invalid data | E.g. modify the subscription to have an invalid value for `resourceType` | HTTP Status 400 and response containing a validation error.                 |

        You can try out the sandbox using the 'Try this API' feature on this page.
      operationId: create-subscription
      parameters:
        - name: Authorization
          in: header
          required: true
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
            Required in all environments except sandbox.
          schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - name: X-Correlation-ID
          in: header
          required: true
          description: |-
            An ID which is used to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: "object"
              required:
                - "resourceType"
                - "status"
                - "reason"
                - "criteria"
                - "channel"
              properties:
                resourceType:
                  type: "string"
                  description: "The subscription FHIR Resource: https://hl7.org/fhir/R4/subscription.html"
                status:
                  type: "string"
                  description: "The status of the subscription. When creating a subscription, the value must be `requested`."
                end:
                  type: "string"
                  format: "date-time"
                  description: "Optional expiry date/time for the subscription. As per the [FHIR R4 instant data type](https://hl7.org/fhir/R4/datatypes.html#instant) time shall be specified to at least the second and include a time zone.
                  For example: YYYY-MM-DDThh:mm:ss.sss+zz:zz (e.g. 2015-02-07T13:28:17.239+02:00 or 2017-01-01T00:00:00Z)"
                reason:
                  type: "string"
                  description: "A description of why this subscription is required. You may provide an empty string."
                criteria:
                  type: "string"
                  description: "Criteria for the subscription. Provide your criteria with each condition separated by `&;`. If you are requesting a generic subscription to all signals of a certain type the separator is not required. For example, `eventType=pds-change-of-gp-1&;patient.identifier=477121000324`
                  or `eventType=pds-change-of-gp-1`. A valid criteria must contain a permitted value for `eventType`. The only additional criteria that MNS currently supports is `patient.identifier` (NHS Number)."
                channel:
                  type: "object"
                  required:
                    - "type"
                    - "endpoint"
                    - "payload"
                  description: "The channel on which to report matches to the criteria."
                  properties:
                    type:
                      type: "string"
                      description: "The type of channel to send notifications on. Of the options within [FHIR](https://hl7.org/fhir/R4/valueset-subscription-channel-type.html), MNS currently only supports `message`."
                    endpoint:
                      type: "string"
                      description: "The end-point to send messages to. MNS currently only supports SQS Queue endpoints but there are future plans to look at further options such as HTTPS endpoints. You must provide the full SQS ARN of your desired queue."
                    payload:
                      type: "string"
                      description: "The mime type to send the payload in. MNS currently only supports `application/json` signals but there are future plans to support other formats such as an application/fhir+json R4 Bundle."
            examples:
              newSubscriptionRequest:
                value:
                  resourceType: "Subscription"
                  status: "requested"
                  end: "2022-04-05T17:31:00.000Z"
                  reason: "A description of why this subscription should be created."
                  criteria: "eventType=pds-change-of-gp-1&;patient.identifier=477121000324"
                  channel:
                    type: "message"
                    endpoint: "arn:aws:sqs:eu-west-2:123456789012:queue1"
                    payload: "application/json"

      responses:
        201:
          description: Created - the subscription has been successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The subscription UUID created by the system
                    example: "236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b"
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  validationErrors:
                    type: object
                    description: Object containing the different errors on a per key basis
                    properties:
                      resourceType:
                        type: string
                        example: Please provide the correct resource type for this endpoint
        401:
          description: "Unauthenticated error"
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    fault:
                      type: object
                      properties:
                        faultstring:
                          type: string
                        detail:
                          type: object
                          properties:
                            errorcode:
                              type: string
                examples:
                  invalidToken:
                    value:
                      fault:
                        faultstring: "Invalid access token"
                        detail:
                          errorcode: "oauth.v2.InvalidAccessToken"
                  tokenMissing:
                    value:
                      fault:
                        faultstring: "Missing access token"
                        detail:
                          errorcode: "oauth.v2.MissingAccessToken"
                  tokenExpired:
                    value:
                      fault:
                        faultstring: "Access Token expired"
                        detail:
                          errorcode: "keymanagement.service.access_token_expired"
        403:
          description: "Unauthorized error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: User is not authorized to handle the requested data type
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Object containing the different errors on a per key basis
                    example: Internal server error
  /subscriptions/{id}:
    get:
      summary: "Get subscription details"
      description: |
        ### Overview
        Use this endpoint to retrieve details of a subscription belonging to you.
        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:
        | Scenario                                  | Request                                                                  | Response                                                                    |
        | ----------------------------------------- | ------------------------------------------------------------------------ | --------------------------------------------------------------------------- |
        | Subscription exists and can be retrieved  | `id=e9050741-ae87-4720-beb1-2abd9248e227`                                | HTTP Status 200 containing subscription details                             |
        | Subscription does not exist               | `id=236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b` (or any other valid UUID)      | HTTP Status 404 containing problem description                              |
        You can try out the sandbox using the 'Try this API' feature on this page.
      operationId: get-subscription-by-id
      parameters:
        - name: Authorization
          in: header
          required: true
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
            Required in all environments except sandbox.
          schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - name: X-Correlation-ID
          in: header
          required: true
          description: |-
            An ID which is used to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
        - name: id
          in: path
          required: true
          description: The ID of the subscription you want to retrieve. The ID will be a valid UUID (v4).
          schema:
            type: string
            example: e9050741-ae87-4720-beb1-2abd9248e227
      responses:
        200:
          description: Successfully got subscription details
          content:
            application/fhir+json:
              schema:
                $ref: "components/schemas/fhir/R4/Subscription.yaml"
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Please provide a valid subscription ID
        401:
          description: "Unauthenticated error"
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    fault:
                      type: object
                      properties:
                        faultstring:
                          type: string
                        detail:
                          type: object
                          properties:
                            errorcode:
                              type: string
                examples:
                  invalidToken:
                    value:
                      fault:
                        faultstring: "Invalid access token"
                        detail:
                          errorcode: "oauth.v2.InvalidAccessToken"
                  tokenMissing:
                    value:
                      fault:
                        faultstring: "Missing access token"
                        detail:
                          errorcode: "oauth.v2.MissingAccessToken"
                  tokenExpired:
                    value:
                      fault:
                        faultstring: "Access Token expired"
                        detail:
                          errorcode: "keymanagement.service.access_token_expired"
        403:
          description: "Unauthorized error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Unauthorised
        404:
          description: "Not found error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Not found
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Internal server error
    delete:
      summary: "Delete a subscription"
      description: |
        ### Overview
        Use this endpoint to delete a subscription that you need to remove.

        ### Sandbox testing
        You can test the following scenarios in our sandbox environment:

        | Scenario                                  | Request                                                                  | Response                                                                    |
        | ----------------------------------------- | ------------------------------------------------------------------------ | --------------------------------------------------------------------------- |
        | Subscription exists and can be deleted    | `id=e9050741-ae87-4720-beb1-2abd9248e227`                                | HTTP Status 204 resource deleted response                                    |
        | Subscription does not exist               | `id=236a1d4a-5d69-4fa9-9c7f-e72bf505aa5b` (or any other valid UUID)      | HTTP Status 404 containing problem description                              |

        You can try out the sandbox using the 'Try this API' feature on this page.
      operationId: delete-subscription
      parameters:
        - name: Authorization
          in: header
          required: true
          description: |-
            An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).
            Required in all environments except sandbox.
          schema:
            type: string
            format: '^Bearer [[:ascii:]]+$'
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - name: X-Correlation-ID
          in: header
          required: true
          description: |-
            An ID which is used to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
        - name: id
          in: path
          required: true
          description: The ID of the subscription you want to delete. The ID will be a valid UUID (v4).
          schema:
            type: string
            example: e9050741-ae87-4720-beb1-2abd9248e227
      responses:
        204:
            description: Deleted - the subscription was deleted successfully
        400:
          description: Invalid user input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Please provide a valid subscription ID
        401:
          description: "Unauthenticated error"
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    fault:
                      type: object
                      properties:
                        faultstring:
                          type: string
                        detail:
                          type: object
                          properties:
                            errorcode:
                              type: string
                examples:
                  invalidToken:
                    value:
                      fault:
                        faultstring: "Invalid access token"
                        detail:
                          errorcode: "oauth.v2.InvalidAccessToken"
                  tokenMissing:
                    value:
                      fault:
                        faultstring: "Missing access token"
                        detail:
                          errorcode: "oauth.v2.MissingAccessToken"
                  tokenExpired:
                    value:
                      fault:
                        faultstring: "Access Token expired"
                        detail:
                          errorcode: "keymanagement.service.access_token_expired"
        403:
          description: "Unauthorized error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Unauthorised
        404:
          description: "Not found error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Not found
        500:
          description: "Internal error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Error string that explains the problem
                    example: Internal server error
